/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div#sidebar{
	width: 10%;
	height: 100%;
	float: left;
	margin: 5px;
	margin-top: 0px;
	margin-left: -7px;
	padding: 5px;
	padding-top: 50px;
	background-color: #aaffee;
	position:fixed;
	top: -15px;
	z-index: 6;
}

div#header{
	background-color: #aaffee;
	width:100%;
	margin-top: -15px;
	margin-left: 150px;
	position: fixed;
	z-index: 6;
}

div#header p{
	color: black;
	font-size: 40px;
	left: 200px;
}

div#content{
	width: 80%;
	float:left;
	position:relative;
	left:170px;
	top: 35px
}


.header span{
	float: left;
}
.button_con{
	display: inline;
}
button#new, #logout{
	margin: 5px;
}
